body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sidenav {
    height: 100%;
    width: 0; /* Hidden by default */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap; /* Prevents text from wrapping */
}

.sidenav a:hover {
    color: #f26522;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.toggle_icon {
    cursor: pointer;
    color: #000; /* Change to black for better visibility */
    position: fixed;
    left: 15px;
    top: 15px; /* Adjust as needed */
}

.content {
    margin-left: 20px; /* Adjust margin to leave space for the drawer */
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}
